<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="C:\inetpub\django\.venv\Scripts\python.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform forwardWindowsAuthToken="true" stdoutLogEnabled="true" stdoutLogFile=".\django.log" startupTimeLimit="20" processPath="C:\inetpub\django\.venv\Scripts\python.exe" arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% sample_project.asgi:application">
        </httpPlatform>
        <security>
            <authentication>
                <windowsAuthentication enabled="true" />
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
